body {
  background-color: green;
}
/* =Structure
---------------------------*/
.a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #000;
  padding: 40px;
  font-size: 16px;
  line-height: 36px;
}
.site {
  font-size: 18px;
  background-color: white;
  max-width: 800px;
  margin: auto;
  overflow: hidden;
}

/* =Elements
---------------------------*/
img {
  max-width: 100%;
  height: auto;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 26px;
}
p {
  margin-bottom: 26px;
}
p:last-child {
  margin-bottom: 0;
}

/* =Header
---------------------------*/
.site-header {
  padding: 40px;
  text-align: center;
}
.site-title {
  margin: 0;
}
@media (min-width: 800px) {
  .site-title {
    float: left;
  }
}

/* =Content
---------------------------*/
.content-wrapper {
  padding: 40px;
}

/* =Footer
---------------------------*/
.site-footer {
  background-color: #444;
  color: white;
  overflow: hidden;
  padding: 40px;
}

@media (min-width: 800px) {
  .site-footer {
    clear: both;
  }
}
@media only screend and (max-width:959px) { 
.zekicannet .css kodlarımız buraya gelecek
}
@media only screen and (max-width: 959px) {
.zekicannoktanet
.box {
	background-color: #333;
	font-family: 'Source Sans Pro', Tahoma;
	font-size:18px;
	font-weight:600;
	color:#fff;
	width:100%;
	margin:0 auto;
	margin-top:100px
}
.box-pad {
	padding:20px
}

}

@media only screen and (min-width: 960px) { 
.box-pad {
	padding:0
}
.box {
	background-color: #333;
	font-family: 'Source Sans Pro', Tahoma;
	font-size:18px;
	font-weight:600;
	color:#fff;
	padding:20px;
	width:900px;
	margin:0 auto;
	margin-top:100px
}

}

body {
	padding:0;
	margin:0
}
